@import '../../../../styles/global.scss';


.home_topicos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 717px;

    .home_topicos_area_titulo {
        h2 {
            font-size: 24px;
            color: $bg-gray-b;
            font-family: $font-bold;
        }

        span {
            font-size: 16px;
            color: $bg-gray;
        }
    }

    .home_topicos_area_card {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;

        .home_topicos_card {
            background-color: $bg-dark-secondary;
            padding: 5px 5px 5px 19px;
            display: flex;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 200px;
            height: 85px;
            border-radius: 12px;
            border: solid 1px transparent;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            transition: .5s ease-in-out;

            &:hover {
                border-color: $bg-green;
            }

            img {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                border: 1.5px solid $bg-gray;
                object-fit: cover;
                display: block;
            }


            .home_topicos_card_body {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
                flex-grow: 1;

                .home_topicos_card_body_area_top {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    .home_topicos_card_body_titulo {
                        font-size: 12px;
                        color: $bg-gray-b;
                        font-family: $font-bold;
                    }

                    .home_topicos_card_body_subtitulo {
                        font-size: 10px;
                        color: $bg-gray;

                    }
                }

                .home_topicos_card_body_area_bottom {
                    color: $bg-gray;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    svg {
                        font-size: 12px;
                    }

                    span {
                        font-size: 10px;
                    }
                }
            }
        }

        .home_topicos_right {
            height: 100%;
            display: flex;
            gap: 5px;
            align-items: flex-start;

            button {
                width: 18px;
                height: 18px;
                background-color: $bg-green;
                border: none;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    font-size: 10px;
                }
            }

            .home_topicos_right_btn1 {
                background-color: transparent;
                color: $bg-gray;

                svg {
                    font-size: 15px;
                }
            }
        }
    }

    .home_topicos_area_bottom {
        display: flex;
        justify-content: flex-end;

        button {
            width: 89px;
            height: 28px;
            border-radius: 8px;
            background-color: $bg-green;
            font-family: $font-bold;
            font-size: 12px;
        }
    }
}