@import '../../../styles/global.scss';

.destaques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 1184px;
    gap: 64px;

    .destaques_titulo {
        font-size: 20px;
        width: 100%;
        color: #fff;
    }

    .destaques_lista {
        display: flex;
        gap: 22px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        cursor: grab;
        -webkit-overflow-scrolling: touch; // rolagem suave em iOS
        user-select: none;

        // Esconde scrollbar no Chrome, Safari e Edge
        &::-webkit-scrollbar {
            display: none;
        }

        // Esconde scrollbar no Firefox
        scrollbar-width: none;

        .cartaoDestaque {
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
            min-width: 243px;
            min-height: 229px;
            max-height: 229px;
            border-radius: 20px;
            padding: 15px;
            color: #fff;
            overflow: hidden;
            transition: .2s ease-in-out;

            .cartaoDestaque_fundoBlur {
                display: flex;
                align-items: center;
                gap: 40px;
                background: #232323AD;
                backdrop-filter: blur(6px);
                width: 100%;
                height: 100%;
                border-radius: 20px;
                padding: 28px;

                .cartaoDestaque_esquerda {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .cartaoDestaque_avatar {
                        width: 98px;
                        height: 98px;
                        border-radius: 50%;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            border: none;
                            border-radius: 50%;
                            padding: 5px;
                            background-color: $bg-green;
                            object-fit: cover;
                        }

                        svg {
                            font-size: 25px;
                            color: #0d99ff;
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                        }
                    }

                    .cartaoDestaque_estatisticas {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .cartaoDestaque_estatistica {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            svg {
                                font-size: 15px;
                            }

                            span {
                                display: flex;
                                font-size: 13px;
                                gap: 5px;
                                white-space: nowrap;

                                strong {}
                            }
                        }
                    }
                }

                .cartaoDestaque_direita {
                    display: flex;
                    flex-direction: column;
                    max-width: 232px;
                    gap: 15px;

                    .cartaoDestaque_usuario {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .cartaoDestaque_username {
                            font-family: $font-bold;
                            font-size: 24px;
                        }

                        .cartaoDestaque_nome {
                            font-size: 12px;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                    }

                    .cartaoDestaque_descricao {
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        min-width: 232px;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .cartaoDestaque_localizacao {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}