@import '../styles/global.scss';

.container_eventos_principais {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h2 {
        font-size: 15px;
        color: $bg-gray-b;
        padding-left: 27px;
    }

    .area_eventos_principais {
        width: 100%;
        display: flex;
        gap: 14px;
        overflow-x: auto;
        padding: 20px 0px;

        .evento_principal {
            background-color: $bg-dark-secondary;
            border: solid 1px transparent;
            display: flex;
            gap: 26px;
            padding: 11px 11px 11px 40px;
            border-radius: 15px;
            min-height: 141px;
            min-width: 363px;
            flex-grow: 1;
            flex-basis: 0;
            cursor: pointer;
            transition: .5s;

            &:hover {
                border-color: $bg-green;
            }

            .eventos_principais_left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                padding: 12px 0px;

                .eventos_principais_left_topo {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    gap: 3px;
                    text-align: center;

                    strong {
                        font-size: 24px;

                        &:nth-child(1) {
                            font-family: 'AlteHaasGroteskBold';
                        }

                        &:nth-child(2) {
                            font-family: 'AlteHaasGroteskBold';
                            font-size: 15px;
                        }

                        &:nth-child(3) {
                            font-weight: 400;
                            color: $bg-gray;
                        }
                    }
                }

                .hora {
                    font-size: 10px;
                    color: $bg-gray;
                }
            }

            .eventos_principais_body {
                color: $bg-gray;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                padding: 12px 0px;

                strong {
                    font-family: 'AlteHaasGroteskBold';
                    font-size: 20px;

                }

                p {
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .eventos_principais_body_bottom {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    svg {
                        font-size: 12px;
                    }

                    span {
                        font-size: 10px;
                    }
                }
            }

            .eventos_principais_right {
                display: flex;
                gap: 5px;
                align-items: flex-start;
                justify-content: center;

                .btn_lock {
                    border-radius: 0px;
                    background-color: transparent;

                    svg {
                        font-size: 18px;
                        color: $bg-gray;
                    }
                }

                button {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background-color: $bg-green;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}