@import '../styles/global.scss';

.header {
    width: 100%;
    max-width: 1184px;
    height: 70px;
    padding: 0px 20px 0px 47px;
    border-radius: 15px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 69px;

    .header_logo {
        width: 76px;
        height: 22px;
    }

    .header_nav {
        flex-grow: 1;
        display: flex;
        list-style: none;
        align-items: center;
        color: #707070;
        gap: 27px;

        .header_navItem {
            cursor: pointer;
            font-size: 14px;
            transition: .5s ease-in-out;

            &:hover {
                opacity: .5;
            }


        }

        .active {
            color: #fff;
        }
    }

    .header_actions {
        display: flex;
        gap: 40px;

        .header_btnRegister,
        .header_btnLogin {
            background-color: transparent;
            width: 127px;
            height: 35px;
            border: none;
            color: #fff;
            font-family: $font-bold;
            font-size: 14px;
            border-radius: 8px;
            cursor: pointer;
            transition: .5s ease-in-out;

            &:hover {
                opacity: .5;
            }

            &:nth-child(2) {
                background-color: #CBFB45;
                color: #000;
                font-size: 15px;
                width: 90px;
            }
        }

        .header_btnMenu {
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            display: none;

            svg {
                font-size: 35px;
            }
        }
    }

    .user_card {
        display: flex;
        gap: 40px;

        // --- LEFT SIDE ---
        .user_card_left {
            display: flex;
            gap: 10px;
            align-items: center;
            background-color: transparent;

            .user_card_avatar_area {
                .user_card_avatar {
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    border-width: 2px;
                }
            }

            .user_card_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .user_card_name {
                    font-family: $font-bold;
                    font-size: 12px;
                    color: #fff;

                }

                .user_card_role {
                    font-size: 10px;
                    color: $bg-gray;
                }
            }
        }

        // --- RIGHT SIDE ---
        .user_card_right {
            display: flex;
            align-items: center;
            gap: 20px;

            .user_card_chat {
                position: relative;
                height: 22px;
                background-color: transparent;

                svg {
                    font-size: 22px;
                    color: $bg-gray;
                }

                .user_card_chat_count {
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background-color: $bg-red-primary;
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    font-size: 9px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .user_card_count {
                height: 22px;
                width: 22px;
                border-radius: 50%;
                background-color: $bg-green;
                font-family: $font-bold;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .user_card_menu {
                height: 22px;
                width: 22px;
                border-radius: 50%;
                border: solid 2px $bg-gray;
                color: $bg-gray;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
            }
        }
    }

    @media (max-width: 1050px) {
        padding: 20px;

        .header_nav {
            display: none;
        }

        .header_actions {
            gap: 20px;

            .header_btnRegister {
                display: none;
            }

            .header_btnMenu {
                display: flex;
            }
        }
    }
}