@import "../styles/global.scss";

.sectionHeader {
    background-color: $bg-green;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 58px;
    width: 100%;

    .sectionContent {
        width: 100%;
        max-width: 1184px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 47px;

        .titleRow {
            display: flex;
            align-items: center;
            gap: 5px;

            .locationText {
                font-size: 40px;

                strong {
                    font-family: 'AlteHaasGroteskBold';
                }
            }

            .refreshButton {
                height: 31px;
                width: 31px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: solid 3px #000;
                background-color: transparent;

                svg {
                    font-size: 25px;
                }
            }
        }

        .description {
            max-width: 500px;
            font-size: 15px;
        }
    }
}