@import '../../../../styles/global.scss';

.container_darkrooms_lista {
    width: 100%;
    max-width: 717px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container_darkrooms_lista_card {
        background-color: $bg-dark-secondary;
        width: 100%;
        height: 167px;
        padding: 17px 17px 17px 23px;
        display: flex;
        gap: 28px;
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
        border: solid 1px transparent;
        transition: .5s ease-in-out;
        cursor: pointer;

        &:hover {
            border-color: $bg-green;
        }

        .area_img {
            img {
                width: 78px;
                height: 78px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .container_darkrooms_lista_card_body {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .container_darkrooms_lista_card_body_top {
                display: flex;
                flex-direction: column;
                gap: 15px;

                span {
                    font-family: $font-bold;
                    font-size: 14px;
                    color: $bg-gray-b;
                }

                p {
                    font-size: 12px;
                    color: $bg-gray;

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .container_darkrooms_lista_card_body_bottom {
                display: flex;
                gap: 20px;

                .container_darkrooms_lista_card_body_bottom_item {
                    color: $bg-gray;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .area_icone {
                        position: relative;

                        svg {
                            font-size: 12px;

                            &:nth-child(2) {
                                position: absolute;
                                right: -3px;
                                bottom: 0px;
                                font-size: 10px;
                                color: $bg-green;
                            }
                        }
                    }

                    span {
                        font-size: 10px;
                    }
                }
            }
        }

        .container_darkrooms_lista_card_right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            align-items: flex-end;

            .btns_top {
                display: flex;
                gap: 12px;
                align-items: center;

                .privado {
                    background-color: $bg-gray;

                    svg {
                        font-size: 14px;
                        color: #fff;
                    }
                }

                .solicitar,
                .entrar {
                    width: auto;
                    padding: 0px 15px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        font-size: 12px;
                    }

                    svg {
                        font-size: 12px;
                    }
                }

                button {
                    width: 25px;
                    height: 25px;
                    border-radius: 12.5px;
                    background-color: $bg-green;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:hover {
                        opacity: .5;
                    }

                    svg {
                        font-size: 14px;
                    }
                }
            }

            .btn_menu {
                background-color: transparent;
                border: solid 2px $bg-gray;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .5s ease-in-out;

                &:hover {
                    opacity: .5;
                }

                svg {
                    color: $bg-gray;
                    font-size: 12px;
                }
            }
        }
    }
}