@import '../../../../styles/global.scss';

.area_darkrooms_populares {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .darkrooms_populares_area_titulo {
        h2 {
            font-family: $font-bold;
            font-size: 15px;
            color: $bg-gray-b;
            padding-left: 47px;
        }
    }

    .darkrooms_populares_area_card {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .darkrooms_populares_card {
            border: solid 1px transparent;
            cursor: pointer;
            position: relative;
            padding: 23px 12px 21px 21px;
            background-color: $bg-dark-secondary;
            border-radius: 15px;
            display: flex;
            align-items: flex-start;
            flex-grow: 1;
            gap: 15px;
            height: 141px;
            transition: .5s ease-in-out;
            flex-basis: 0;

            &:hover {
                border-color: $bg-green;
            }

            .btn_flutuante {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                left: -5px;
                top: -5px;
                background: linear-gradient(162.46deg, #FF0900 12.01%, #E0B711 94.46%);

                svg {
                    font-size: 18px;
                    color: #fff;
                }
            }

            .darkrooms_populares_area_img {
                img {
                    width: 49px;
                    height: 49px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .darkrooms_populares_card_body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                height: 100%;

                .darkrooms_populares_card_body_topo {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .darkrooms_populares_card_body_topo_titulo {
                        font-family: $font-bold;
                        font-size: 14px;
                        color: $bg-gray-b;
                    }

                    .darkrooms_populares_card_body_topo_paragrafo {
                        font-size: 12px;
                        color: $bg-gray;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .darkrooms_populares_card_body_bottom {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    .darkrooms_populares_card_body_bottom_item {
                        color: $bg-gray;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .area_icone {
                            position: relative;

                            svg {
                                font-size: 12px;

                                &:nth-child(2) {
                                    position: absolute;
                                    right: -3px;
                                    bottom: 0px;
                                    font-size: 10px;
                                    color: $bg-green;
                                }
                            }
                        }

                        span {
                            font-size: 10px;
                        }
                    }
                }
            }

            .darkrooms_populares_card_area_sair {
                button {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $bg-green;
                    cursor: pointer;

                    svg {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}