@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url('./arquivos/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGroteskRegular';
  src: url('./arquivos/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'AlteHaasGroteskRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020; //remover depois
}

code {
  font-family: 'AlteHaasGroteskRegular', sans-serif;
}

/* --- Chrome, Edge, Safari, Opera --- */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #232325;
}

::-webkit-scrollbar-thumb {
  background: #CBFB45;
  border-radius: 20px;
}

/* --- Firefox --- */
* {
  scrollbar-width: thin;
  scrollbar-color: #CBFB45 #232325;
}

button,
span,
p,
li,
h1,
h2,
ul,
div {
  font-family: 'AlteHaasGroteskRegular', sans-serif;
}

button {
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: .5;
  }
}